@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d2a83e;
    border-radius: 100vh;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: #ffffff;
  padding: 5px 20px;
  color: #000000 !important;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
}

.contentbase__section p {
  font-size: 16px;
  line-height: 1.8;
  padding-bottom: 10px;
}

.contentbase__section h4 {
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 600;
}

.contentbase__section h3 {
  margin-bottom: 8px;
  font-size: 1.5rem;
  font-weight: 600;
}

.contentbase__section ul li,
ol li {
  padding-bottom: 12px;
}

.contentbase__section ul,
ol {
  padding-top: 5px;
}

.contentbase__section a {
  color: #2196f3;
}
.base-page {
  @apply max-w-8xl mx-auto px-4 py-16 min-h-screen;
}

.base-section {
  @apply max-w-8xl mx-auto px-4 lg:px-8 py-8;
}
